@tailwind base;
@tailwind components;
@tailwind utilities;

html::selection{
    background-color: aqua;
    color:black;
}

@media screen {
    .pdf-only {
      display: none;
    }
  }
  
  @media print {
    .pdf-only {
      display: block;
    }
  
    /* You can also hide other elements like buttons in the PDF view */
    .no-print {
      display: none;
    }
  }
  
  